@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
  .container.container2 {
    max-width: 1250px;
  }
  .container.container3 {
    max-width: 1150px;
  }

  // .partners .container2{
  //     max-width: 1250px;
  // }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1480px;
  }
}

/* custom with container */
@media (min-width: 1400px) {
  .researchSec .container {
    max-width: 1300px;
  }
  .ourNumSec .container,
  .newHome .container {
    max-width: 1400px;
  }
}

@media (min-width: 1700px) {
  .progSearc .row {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    max-width: 1700px;
  }
  .container.container2 {
    max-width: 1440px;
  }
  .container.container3 {
    max-width: 1300px;
  }
}


// start max media


@media (max-width: 1600px) {
  .services-sec {
    margin: 120px 0;
  }
  .cardElct .font18 {
    min-height: 56px;
  }
  .awareness-sec .right-sec {
    padding-top: 45px;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite {
    margin-#{$start-direction}: 55px;
    padding-#{$start-direction}: 50px;
  }
  .services-sec .right-sec {
    height: 500px;
    padding-#{$end-direction}: 50px;
  }
  .services-sec .mySwipeOffer {
    padding: 30px 5px;
  }
  .services-sec .boxSer .boxImg img {
    height: 345px;
  }
  .consultations .consultations-card .eventDates .date-here{
    font-size: var(--text-sm-regular-font-size);
  }
}
@media (max-width: 1400px) {
  /* font 36 */
  .weAreSec .txt .font48,
  .fullWidthMain .rightCardMn .txtPrs .role,
  .ourNumSec .boxNum .counter,
  .fullWidthMain .rightCardMn .txtPrs .wordPres,
  .awareness-sec .right-sec .mainTitle span,
  .services-sec .right-sec .mainTitle span,
  .bannerMenu .contentBanner .BNRtxt h1 {
    // font-size: var(--display-md-medium-font-size);
    font-size: var(--display-sm-medium-font-size);
    line-height: var(--display-sm-medium-line-height);
  }
  .awareness-sec .right-sec .mainTitle,
  .progSearc .title, .researchSec .title,
  .ourNumSec .numText .titleNum{
    font-size: var(--display-sm-medium-font-size);
    line-height: var(--display-sm-medium-line-height);
  }
  /* font 24*/
  .newHome .titleX,
  .newHome .title,
  .services-sec .right-sec .mainTitle {
    font-size: var(--display-xs-semibold-font-size);
  }
  /* font 18 */
  .weAreSec .txt .p20,
  .awareness-sec .right-sec p,
  .bannerMenu .contentBanner .BNRtxt p {
    font-size: var(--text-lg-bold-font-size);
  }
  /* font 16 */
  .newHome .cardNews .txtNews .font18,
  .researchSec .cardResearch .font18,
  .font18 {
    font-size: var(--text-md-medium-font-size);
  }
  /* font 14 */
  .white-btn a span,
  .inputText select,
  .inputText textarea,
  .inputText input::placeholder,
  .newHome .cardNews .txtNews .font16,
  .p16,
  .green-btn a span {
    font-size: var(--text-sm-regular-font-size);
  }
  .imageGallery .txt .date span,
  .WSCard .txt .date span {
    margin-bottom: 8px;
  }
  .awareness-sec,
  .services-sec {
    .col-lg-4 {
      width: 40%;
    }
    .col-lg-8 {
      width: 60%;
    }
  }
  .green-btn a img {
    width: 20px;
    height: 20px;
    transform: translateY(1px);
  }
  .cardElct .font18 {
    min-height: auto;
  }
  .weAreSec .imOffer {
    height: 100%;
  }
  .navDGA .navActions .btnSr {
    min-width: 60px;
    height: 60px;
  }
  .customArrow .swiper-button-next,
  .customArrow .swiper-button-prev {
    width: 125px;
    height: 125px;
  }
  .services-sec .customArrow .swiper-button-next {
    #{$end-direction}: 35px;
    #{$start-direction}: auto;
  }
  .services-sec .customArrow .swiper-button-prev {
    #{$start-direction}: 30px;
    #{$end-direction}: auto;
  }
  .newHome .bodyX,
  .newHome .cardNews {
    max-height: 610px;
    height: 100%;
  }
  .navDGA .navActions .btnSr,
  .navDGA .navActions li a {
    min-width: 50px;
    height: 50px;
    img {
      width: 20px;
    }
  }
  body .menuWithBanner .navbarMenu .navbar-nav .nav-link {
    font-size: var(--text-xs-regular-font-size);
  }
  .services-sec .right-sec.with-shape {
    margin-#{$end-direction}: 20px;
  }
  .weAreSec .txt {
    padding-#{$end-direction}: 20px;
  }
  .weAreSec {
    margin-bottom: 70px;
  }
  .services-sec {
    margin: 70px 0;
  }
  .fullWidthMain .rightCardMn .imgPres {
    width: 260px;
    height: 260px;
    margin-bottom: 25px;
  }

  .fullWidthMain .rightCardMn {
    margin-#{$end-direction}: 45px !important;
    height: 650px;
  }
  .borderMemeberCards .membCard .presImg {
    height: 160px;
  }
  .anotherServ .wrapperCards {
    flex-wrap: wrap;
  }
  .anotherServ .wrapperCards .cardOther {
    width: 33.333%;
    height: auto;
  }

  .CardWhitOrGreen.with-shape, .services-sec .with-shape.right-sec, .fullWidthMain .with-shape.rightCardMn{
    height: 100%;
  }


  .awareness-sec{
    height: 550px;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite{
    padding-top: 55px;
    padding-bottom: 55px;
  }
  /* end 1400 */
}
@media (max-width: 1700px) {
  .menuWithBanner .navbarMenu .navbar-nav .nav-link {
    padding: var(--spacing-spacing-md);
  }
  .navDGA .navActions li a,
  .navDGA .navActions .btnSr {
    padding: var(--spacing-spacing-md);
  }

  .awareness-sec .awareness-box .aw-box {
    height: 350px;
  }
  .awareness-sec .awareness-box .DGA-tabs1 {
    padding-top: 100px;
  }
  .partners .owl-theme .owl-next {
    #{$end-direction}: -70px;
  }
  .partners .owl-theme .owl-prev {
    #{$start-direction}: -70px;
  }
  .serv-list-card {
    height: calc(100% - var(--primitives-spacing-6-24px));
  }
  .main-tags1 .tag-card {
    flex: auto;
  }
}

@media (max-width: 1399.98px) {
  .partners .owl-theme .owl-next {
    #{$end-direction}: -50px;
  }
  .partners .owl-theme .owl-prev {
    #{$start-direction}: -50px;
  }

  .menuWithBanner .navbarMenu .navbar-nav .nav-link {
    /*padding: var(--spacing-spacing-xs);*/

    font-weight: var(--text-sm-medium-font-weight);
    font-size: var(--text-sm-medium-font-size);
    letter-spacing: var(--text-sm-medium-letter-spacing);
    line-height: var(--text-sm-medium-line-height);
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu h4.title {
    font-size: var(--text-sm-bold-font-size);
    font-weight: var(--text-sm-bold-font-weight);
    letter-spacing: var(--text-sm-bold-letter-spacing);
    line-height: var(--text-sm-bold-line-height);
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu ul li {
    margin-bottom: var(--spacing-spacing-xs);
    padding: var(--spacing-spacing-sm);
    padding-#{$start-direction}: 0;
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu ul li a {
    position: relative;
    font-weight: var(--text-sm-medium-font-weight);
    font-size: var(--text-sm-medium-font-size);
    letter-spacing: var(--text-sm-medium-letter-spacing);
    line-height: var(--text-sm-medium-line-height);
  }
  .services-sec .right-sec p {
    font-weight: var(--text-md-regular-font-weight);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
  }

  .black-btn a {
    padding: var(--spacing-global-spacing-none)
      var(--spacing-button-buttons-md-padding)
      var(--spacing-global-spacing-none)
      var(--spacing-button-buttons-md-padding);
    span {
      font-weight: var(--text-sm-medium-font-weight);
      font-size: var(--text-sm-medium-font-size);
      letter-spacing: var(--text-sm-medium-letter-spacing);
      line-height: var(--text-sm-medium-line-height);
    }
  }

  .main-tags1 .tag-card {
    width: calc(100% / 4 - 24px);
    flex: 0 0 auto;
  }
  .services-sec.inner-services-sec .right-sec {
    height: 100%;
  }
  .services-sec .services-box {
    padding-bottom: 36px;
  }
  .services-list .serv-list-card .btn-contaimer {
    flex-direction: column;
  }
  .servCardIn .text .p18{
    font-weight: var(--text-md-regular-font-weight);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
  }

}
@media (max-width: 1199.98px) {
  .menuWithBanner .navbarMenu .navbar-nav .nav-link {
    padding: var(--spacing-spacing-xs);
  }
  .borderMemeberCards .col-md-3 {
    width: 33.3333%;
  }
  .DigitalLibrary .col-md-4 {
    width: 50%;
  }
  .services-sec .services-box .serv-box {
    height: 100%;
  }
  .aimSec .col-md-3 {
    width: 50%;
    margin-bottom: 20px;
  }
  .innerBanner .titleBnr {
    font-size: var(--display-md-medium-font-size);
  }
  .fullWidthMain .hisWord + .p20 {
    font-size: var(--text-lg-bold-font-size);
  }
  .fullWidthMain .rightCardMn .imgPres {
    width: 225px;
    height: 225px;
  }
  .imageGallery .img,
  .WSCard .img {
    height: 200px;
  }
  .imageGallery .txt .tite,
  .WSCard .txt .tite {
    font-size: var(--text-lg-bold-font-size);
    line-height: 1.3;
  }
  .workshop .txtRight .supTitle {
    font-size: var(--display-xs-semibold-font-size);
  }
  .workshop .txtRight .title {
    font-size: var(--display-md-medium-font-size);
  }
  .imageGallery .txt .date span,
  .WSCard .txt .date span {
    font-size: var(--text-xs-regular-font-size);
  }
  .imageGallery .txt .date span img,
  .WSCard .txt .date span img {
    width: 15px;
  }
  .imageGallery .txt .white-btn a,
  .WSCard .txt .white-btn a {
    max-height: 30px;
    height: 30px;
  }
  .main {
    padding-bottom: 32px;
  }
  .partnersCards .col-md-4,
  .mediaCenter .col-md-4, .eventsPage .col-md-4, .DigitalLibrary .col-md-4, .newsPage .col-md-4,
  .EservicesClass .col-md-4,
  .servicesInner .col-md-4 {
    width: 50%;
  }


  .fullWidthMain .rightCardMn .imgPres {
    width: 195px;
    height: 195px;
  }

  .innerBanner{
    padding: 12px 0;
    min-height: 150px;
    height: auto;
  }
  .innerBanner .titleBnr{
    font-size: var(--display-xs-medium-font-size);
    line-height: var(--display-xs-medium-line-height);
  }
  .main-with-img .content-box p{
    font-size: var(--text-md-regular-font-size);
    line-height: var(--text-md-regular-line-height);

  }
  .cardOtherCol4 .logo{
    height: 200px;
  }
  .cardOtherCol4 .txt{
    height: calc(100% - 200px);
  }
  .progSearc .cardResearch, .researchSec .cardResearch{
    height: 230px;
  }

  .services-sec .right-sec{
    padding-top: 100px;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite{
    margin-#{$end-direction}: 5%;
  }
  /* end 1200 */
}
@media (max-width: 991.98px) {
  .weAreSec .col-md-7,
  .weAreSec .col-md-5,
  .newHome .col-md-6,
  .fullWidthMain .col-md-4,
  .fullWidthMain .col-md-8,
  .textWithCards .col-md-6,
  .bannerMenu .contentBanner .BNRtxt p,
  .awareness-sec .col-lg-8,
  .partnersCards .col-md-4,
  .services-sec .col-lg-8,
  .DigitalLibrary .col-md-4,
  .mediaCenter .col-md-4, .eventsPage .col-md-4, .DigitalLibrary .col-md-4, .newsPage .col-md-4,
  .awareness-sec .col-lg-4,
  .services-sec .col-lg-4 {
    width: 100%;
  }
  .ourNumSec .col-md-3,
  .workshopCards .col-md-4,
  .borderMemeberCards .col-md-3,
  .researchSec .col-md-3 {
    flex: 0 0 auto;
    width: 50%;
  }

  .filtering {
    flex-direction: column;
  }
  .filtering .inputText,
  .filtering input[type="text"],
  .filtering select {
    width: 100%;
    margin: 0 0 8px 0;
  }
  .filtering .green-btn {
    padding: 0;
  }
  .filtering .green-btn,
  .filtering .green-btn a {
    width: 100%;
    max-width: unset;
  }
  .textWithCards .col-md-6 {
    margin-bottom: 20px;
  }
  .services-sec .right-sec.with-shape::before {
    display: none;
  }
  .services-sec .right-sec.with-shape {
    margin-#{$end-direction}: 0;
    padding-top: 45px;
  }
  .weAreSec .imOffer {
    max-height: 300px;
  }
  .ElectronicSec {
    padding: 30px 0 50px 0 !important;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite {
    padding: 30px;
    margin: 0;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite::after {
    #{$start-direction}: 44%;
    top: -90px;
    transform: rotate(90deg);
  }
  .mySwipeOffer2,
  .mySwipeOffer {
    margin-#{$end-direction}: 0;
  }
  .ourNumSec .col-md-3,
  .researchSec .cardResearch {
    margin-bottom: 20px;
  }
  .weAreSec .txt {
    padding-#{$end-direction}: 0;
    padding-bottom: 50px;
  }
  .navDGA .row.row-new {
    justify-content: #{$start-direction};
    padding-top: 6px;
    padding-#{$start-direction}: 0;
    position: relative;
  }

  .newHome .bodyX,
  .newHome .cardNews {
    max-height: unset;
    height: auto;
    margin-bottom: 30px;
  }
  .newHome .bodyX {
    height: 400px;
  }
  .navDGA .row.row-new .col-3-new {
    margin-#{$start-direction}: var(--primitives-spacing-3-12px);
  }
  nav.navbar.navbarMenu.navbar-expand-lg.navbar-light {
    position: absolute;
    #{$end-direction}: 0;
    top: 17px;
    width: 100%;
    height: auto;
  }
  button.navbar-toggler {
    position: absolute;
    #{$end-direction}: 25px;
    top: 14px;
    max-width: unset;
    min-width: unset;
  }
  div#navbarSupportedContent {
    height: 100vh;
    position: fixed;
    top: 0;
    #{$end-direction}: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.35s;
    padding: 30px 20px;
    padding-#{$start-direction}: 32%;
    background-color: var(--themes-background-background-SA-flag);
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
  }
  div#navbarSupportedContent.show {
    transform: translateX(29%);
  }
  .menuWithBanner .navbarMenu .navbar-nav .nav-link {
    width: 100%;
    height: 55px;
  }
  body .menuWithBanner .navbarMenu .navbar-nav .nav-link {
    justify-content: space-between;
    border-bottom: 2px solid #e9e9e9;
    border-radius: unset;
    font-weight: bold;
    padding-#{$start-direction}: 0;
    font-size: var(--text-md-medium-font-size);
    color: var(--themes-text-text-oncolor-primary-duplicate);
  }
  body .menuWithBanner .navbarMenu .navbar-nav .nav-link.show::after {
    transform: rotate(180deg);
  }
  .navbarMenu .navbar-toggler:focus {
    box-shadow: unset;
  }
  .menuWithBanner .navbarMenu .navbar-nav .dropdown-toggle::after {
    filter: brightness(0) invert(1);
  }

  .services-sec .right-sec {
    height: auto;
    padding-bottom: 50px;
  }
  .services-sec .right-sec.with-shape::after {
    transform: rotate(89deg);
    top: 78%;
    #{$end-direction}: 0;
    #{$start-direction}: 44%;
  }
  .services-sec .services-box {
    padding-#{$start-direction}: 0;
  }
  .services-sec .services-box .serv-box {
    margin-bottom: var(--primitives-spacing-6-24px-duplicate);
    height: auto;
  }
  .newsHome .boxNews {
    margin-bottom: var(--primitives-spacing-6-24px-duplicate);
    height: auto;
  }
  .newHome,
  .ourNumSec,
  .researchSec {
    margin-bottom: 75px;
  }
  .awareness-sec {
    height: auto;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .awareness-sec .right-sec {
    padding-bottom: 5px;
    padding-#{$start-direction}: 20px !important;
  }
  .awareness-sec .awareness-box .aw-box {
    margin-bottom: var(--primitives-spacing-6-24px-duplicate);
    height: auto;
  }
  .awareness-sec .awareness-box .aw-box .aw-logo {
    width: 100%;
    height: 250px;
  }
  .awareness-sec .awareness-box .aw-box .aw-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ourNum .wapperNM {
    margin-bottom: var(--primitives-spacing-6-24px-duplicate);
    height: auto;
  }
  .ourNum .wapperNM .boxNum .counter {
    font-weight: var(--display-md-medium-font-weight);
    font-size: var(--display-md-medium-font-size);
    letter-spacing: var(--display-md-medium-letter-spacing);
    line-height: var(--display-md-medium-line-height);
  }

  .awareness-sec .awareness-box {
    padding-#{$start-direction}: 0;
  }
  .FooterLinks {
    margin-bottom: 24px;
  }
  .footerDGA .btm-footer {
    margin-top: 10px;
  }

  .services-list .serv-list-card .btn-contaimer {
    flex-direction: row;
  }
  .left-servDet {
    margin-top: 0;
    margin-bottom: 36px;
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu h4.title {
    margin-bottom: 0;
    margin-top: 0;
  }
  .bannerMenu .contentBanner {
    height: calc(70vh - 160px);
    position: relative;
    display: flex;
    align-items: center;
    max-height: 600px;
  }
  .menuWithBanner .navbarMenu .navbar-nav .nav-link.active {
    background-color: var(--themes-background-background-SA-flag);
  }
  .comingSoon {
    padding: 30px 10px;
  }
  .comingSoon .bgWhite {
    min-height: 370px;
  }
  .comingSoon .bgWhite > img {
    width: 80px;
  }
  .menuWithBanner
    .navbarMenu
    .nav-item.dropdown
    .dropdown-menu
    h4.title
    .dropdownTitle {
    font-size: var(--text-xs-regular-font-size);
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu {
    min-height: auto;
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu .col-lg-3 {
    margin-bottom: 0;
  }
  .betaVersion {
    font-size: 10px;
  }
  .breadcrumb .items {
    margin-top: 15px;
    line-height: 1.2;
  }
  .fullWidthMain .rightCardMn {
    margin-#{$end-direction}: 45px !important;
    height: auto;
    padding: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .fullWidthMain .rightCardMn .txtPrs .p24 {
    text-align: center;
  }
  .fullWidthMain .hisWord {
    padding: 24px 0;
  }
  .fullWidthMain .rightCardMn {
    min-height: 250px;
  }
  .titleCard {
    font-size: var(--display-xs-semibold-font-size);
  }
  .anotherServ .wrapperCards .cardOther {
    width: 48%;
  }



  .CardWhitOrGreen.with-shape::before, .services-sec .with-shape.right-sec::before, .fullWidthMain .with-shape.rightCardMn::before{
    display: none;
  }
  .CardWhitOrGreen.with-shape, .services-sec .with-shape.right-sec, .fullWidthMain .with-shape.rightCardMn, .services-sec .with-shape.right-sec, .fullWidthMain .with-shape.rightCardMn{
    margin-#{$end-direction}: 0 !important;
    margin-bottom: 24px;
    padding: 24px !important;
  }
  .CardWhitOrGreen.with-shape::after, 
  .services-sec .with-shape.right-sec::after ,
  .fullWidthMain .with-shape.rightCardMn::after
  {
    transform: rotate(-90deg) translateY(25%) !important;
    top: 75% !important;
    #{$start-direction}: 50% !important;
    display: none;
  }
  .fullWidthMain.workshop .with-shape.rightCardMn::after{
    transform: rotate(-90deg) translateY(25%) !important;
    top: 60% !important;
    #{$start-direction}: 50% !important;
  }
  .map-sec .content-box .contact-us{
    width: 325px;
  }
  .map-sec .content-box .contact-us h4{
    font-size: var(--display-xs-medium-font-size);
    line-height: var(--display-xs-medium-line-height);
  }
  .map-sec .content-box .contact-us .details ul{
    gap: var(--primitives-spacing-2-8px);
  }

  .digital-details .img-box{
    margin: 0 auto;
    margin-top: 24px;
    height: auto;
  }
  .main-with-img .content-box p{
    font-size: var(--text-sm-regular-font-size);
    line-height: var(--text-sm-regular-line-height);
  }
  .imageGallery .txt .tite, .WSCard .txt .tite{
    height: auto;
  }

  .main-with-img .img-box{
    margin: 0 auto;
    margin-top: 20px;
    max-width: max-content;
    height: auto;
  }
  .main-with-img .content-box h3{
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-semibold-line-height);
    margin-bottom: var(--primitives-spacing-4-16px);
  }

  .mediaCenter .WSCard .p16, .eventsPage .WSCard .p16, .DigitalLibrary .WSCard .p16, .newsPage .WSCard .p16{
    height: auto;
  }

  .newsDetails .headNews .titleNews{
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-semibold-line-height);
    margin-bottom: var(--primitives-spacing-4-16px);
  }
  .newsDetails .imgNews img{
    height: auto;
  }
   .p20{
    font-size: var(--text-md-medium-font-size);
    line-height: var(--text-md-medium-line-height);
  }

  .partnersSec .textAim .title, .aimSec .textAim .title{
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-semibold-line-height);
    margin-bottom: var(--primitives-spacing-4-16px);
  }

  .progSearc .title, .researchSec .title{
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-semibold-line-height);
    margin-bottom: var(--primitives-spacing-4-16px);
    padding-bottom: 20px;
  }

  .progSearc .cardResearch, .researchSec .cardResearch{
    margin-bottom: 24px;
  }
  .tags-sec{
    gap: 12px;
  }
  .tags-sec .tag span{
    font-size: var(--text-sm-medium-font-size);
    line-height: var(--text-sm-medium-line-height);
  }
  .experiment h3{
    font-size: var(--display-xs-medium-font-size);
    line-height: var(--display-xs-medium-line-height);
  }
  .experiment ul li{
    font-size: var(--text-md-medium-font-size);
    line-height: var(--text-md-medium-line-height);
  }
  .twoCards .col-lg-6{
    margin-bottom: 12px;
  }
  .twoCards .goalCard .detBox p,
  .twoCards .goalCard .detBox ul li,
  .main-with-img .content-box ul li{
    font-size: var(--text-sm-medium-font-size);
    line-height: var(--text-sm-medium-line-height);
  }
  .anotherServ h2.title{
    font-size: var(--display-xs-medium-font-size);
    line-height: var(--display-xs-medium-line-height);
    margin-bottom: 24px;
  }
  .services-details .gray-bc{
    display: none;
  }
  .services-details .right-sec .mainTitle,
  .services-details .right-sec .mainTitle span{
    font-size: var(--display-xs-medium-font-size);
    line-height: var(--display-xs-medium-line-height);
    margin-bottom: 24px;
  }
  .services-details .right-sec p{
    font-size: var(--text-md-medium-font-size);
    line-height: var(--text-md-medium-line-height);
  }
  .services-details .right-sec{
    padding: 40px 0;
  }

  section.services-sec.ElectronicSec .row {
    flex-direction: column-reverse;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite{
    margin-bottom: 40px;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite::after,
  .services-sec .right-sec.with-shape::after{
    display: none;
  }


  /* end 992 */
}

@media (max-width: 767.98px) {
  .bannerMenu .contentBanner .BNRtxt h1 {
    font-weight: var(--display-md-medium-font-weight);
    font-size: var(--display-md-medium-font-size);
    letter-spacing: var(--display-md-medium-letter-spacing);
    line-height: var(--display-md-medium-line-height);
  }
  .bannerMenu .contentBanner .BNRtxt {
    max-width: 85%;
    width: 85%;
  }
  .bannerMenu .contentBanner .BNRtxt p {
    font-weight: var(--text-md-regular-font-weight);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
  }
  .borderMemeberCards .membCard .presImg {
    height: 215px;
  }

  .borderMemeberCards .membCard,
  .borderMemeberCards .col-md-3 {
    width: 100%;
  }
  .EservicesClass .col-md-4,
  .servicesInner .col-md-4 {
    width: 100%;
  }
  .EservicesClass,
  .servicesInner {
    padding: 32px 0 32px 0;
  }
  .borderMemeberCards {
    padding: 24px 0;
  }
  .partners {
    padding-bottom: 100px;
  }
  .partners .owl-theme .owl-nav [class*="owl-"] {
    top: 125%;
  }
  .partners .owl-theme .owl-prev {
    #{$start-direction}: 38%;
  }
  .partners .owl-theme .owl-next {
    #{$end-direction}: 38%;
  }
  .anotherServ h2.title {
    margin-bottom: 24px;
  }
  .anotherServ {
    padding: 32px 0 32px 0;
  }
  .workshopCards .col-md-4 {
    width: 100%;
  }
  .main-tags1 .tag-card {
    width: calc(100% / 3 - 24px);
  }
  .DGA-tabs1 {
    max-width: 100%;
    justify-content: center;
    &::before {
      display: none;
    }
  }
  .DGA-tabs1 .nav-item .nav-link {
    padding: var(--primitives-spacing-3-12px);
  }

  .services-details .right-sec {
    padding-#{$end-direction}: 0;
  }

  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu ul li a {
    padding: 0;
    padding-#{$start-direction}: 15px;
    font-size: var(--text-xs-regular-font-size);
    &::before {
      top: 0px;
      width: 20px;
      height: 20px;
      display: none;
    }
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu {
    padding: 15px 0;
  }
  .menuWithBanner .navbarMenu .nav-item.dropdown .dropdown-menu ul li {
    min-height: auto;
  }
  .aimSec .col-md-3 {
    width: 100%;
  }
  .textWithCards {
    padding: 64px 0 24px 0;
  }
  .aimSec .textAim .p20 {
    margin-bottom: 35px;
  }
  .aimSec {
    padding: 45px 0 25px 0;
  }
  .breadcrumb ul.items a:not(.breadCrumbRoot):not(.active) {
    margin-#{$end-direction}: 20px;
  }
  .breadcrumb ul.items a {
    font-size: var(--text-xs-regular-font-size);
  }
  .breadcrumb ul.items a:not(.breadCrumbRoot):not(.active)::after {
    #{$end-direction}: -18px;
    top: 1px;
  }
  .customAccordion .accordion-item .accordion-button {
    font-size: var(--text-lg-bold-font-size);
    text-align: #{$start-direction};
    padding-#{$end-direction}: 50px;
  }
  .customAccordion .p18 {
    font-size: var(--text-md-medium-font-size);
  }
  .imageGallery .txt .date span,
  .WSCard .txt .date span {
    margin-bottom: 4px;
  }
  .anotherServ .wrapperCards .cardOther {
    width: 100%;
  }
  .workshopCards .mar80 {
    margin: 32px 0;
  }
  .newsDetails {
    margin: 32px 0;
  }
  .green-btn input[type="submit"], .green-btn a {
    height: 35px;
  }

  .rateContet .bgRate {
    flex-wrap: wrap;
  }

  .map-sec .mapFrom{
    height: 400px;
  }
  .map-sec .content-box .contact-us{
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    margin-top: 24px;
  }
  .projects .cardOtherCol4 .txt .p16, .programs .cardOtherCol4 .txt .p16{
    height: auto;
  }
  .addRow{
    padding: 0;
    margin-bottom: 24px;
  }
  .breadcrumb {
    min-height: 70px;
    height: auto;
  }
  .breadcrumb .items{
    flex-wrap: wrap;
  }
  /* end 767 */
}

@media (max-width: 574.98px) {
  /* font 24 */

  .bannerMenu .contentBanner .BNRtxt h1 {
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-semibold-line-height);
    margin-bottom: 12px; 
  }
  .weAreSec .txt .font48,
  .ourNumSec .boxNum .counter,
  .awareness-sec .right-sec .mainTitle span,
  .services-sec .right-sec .mainTitle span {
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-semibold-line-height);
    margin-bottom: 12px;
    margin-top: 0;
  }
  .newsDetails .headNews .titleNews,
  .innerBanner .titleBnr,
  .fullWidthMain .rightCardMn .txtPrs .wordPres ,
  .ourNumSec .numText .titleNum {
    font-size: var(--display-xs-semibold-font-size);
    line-height: var(--display-xs-medium-line-height)
  }

  /* font 18*/

  .awareness-sec .right-sec .mainTitle,
  .ourNumSec .numText .p20,
  .services-sec .right-sec .mainTitle {
    font-size: var(--text-lg-bold-font-size);
  }
  /* font 16 */
  .p20,
  .servCardIn .text .p18,
  .weAreSec .txt .p20,
  .awareness-sec .right-sec p,
  .bannerMenu .contentBanner .BNRtxt p {
    font-size: var(--text-md-medium-font-size);
  }
  /* font 14 */
  .inputText .label,
  .newsDetails .headNews .date span,
  .newHome .cardNews .txtNews .font18,
  .researchSec .cardResearch .font18,
  .font18 {
    font-size: var(--text-sm-regular-font-size);
  }
  /* font 12 */
  .Evaluation .evaluationBox span,
  .Evaluation .evaluationBox strong,
  .white-btn a span,
  .Evaluation .left-sec .last-edit span,
  .Evaluation2 .alertEvaluation .left p,
  .newHome .cardNews .txtNews .font16,
  .p16,
  .Evaluation2 .check-button-list-h label,
  .sec_head_title,
  .green-btn a span {
    font-size: var(--text-xs-regular-font-size);
  }
  .ourNumSec .col-md-3,
  .researchSec .col-md-3 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bannerMenu .contentBanner .BNRtxt {
    width: 100%;
  }
  .footerDGA .btm-footer .footer-last .dir-links {
    flex-wrap: wrap;
  }
  .weAreSec .txt .p20{
    margin-top: 0;
  }
  .newsDetails .headNews .date,
  .newsDetails .headNews .titleNews {
    margin-bottom: 16px;
  }
  .main-search-serv .srch input {
    max-width: 80%;
  }
  .main-tags1 .tag-card {
    width: calc(100%);
  }
  .Evaluation .rating-star,
  .Evaluation .rating-star.active {
    height: 18px;
    width: 18px;
  }
  .navDGA .row.row-new {
    justify-content: center;
    padding-top: 6px;
    position: unset;
    padding-#{$start-direction}: 55px;
  }
  .Evaluation2 .alertEvaluation .right .btnSmall#feedback_no {
    #{$start-direction}: 80px;
    min-width: 40px !important;
  }
  .services-details .right-sec .btn-contaimer {
    flex-wrap: wrap;
  }
  .toggleOptions {
    display: block !important;
    position: absolute;
    #{$start-direction}: 26px;
    top: 35px;
    padding: 4px;
  }
  .navDGA .navActions {
    position: absolute;
    background: white;
    width: 100%;
    #{$end-direction}: 0;
    top: 100px;
    height: 86px;
    justify-content: center;
    visibility: hidden;
  }
  .navDGA .navActions.show {
    visibility: visible;
  }
  .modalSearch .modal-dialog .modal-content .SearchCustom {
    width: 100%;
    padding: 0;
  }
  .modalSearch .SearchCustom .searchInput {
    height: 50px;
    padding: 10px;
    width: calc(100% - 90px);
  }
  .modalSearch .searchSubmit {
    width: 50px;
    height: 50px;
  }
  .modalSearch .searchSubmit img {
    width: 20px;
  }
  .modalSearch .SearchCustom .boxSloce button {
    transform: scale(0.8);
  }
  .customPagi .swiper-pagination-bullet {
    width: 20px;
    height: 3px;
  }
  .customPagi .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 35px;
  }
  .services-sec {
    margin: 0;
    padding: 40px 0 25px 0;
  }
  .services-sec .right-sec.with-shape {
    width: 100%;
    padding-#{$start-direction}: 30px;
    padding-#{$end-direction}: 45px;
    padding-bottom: 60px;
  }
  .services-sec .right-sec.with-shape::after {
    top: 75%;
    #{$start-direction}: 38%;
  }
  .customArrow .swiper-button-next,
  .customArrow .swiper-button-prev {
    background-size: 100px;
  }
  .services-sec .customArrow .swiper-button-next {
    #{$end-direction}: 0;
  }
  .services-sec .customArrow .swiper-button-prev {
    #{$start-direction}: 0;
  }
  .weAreSec {
    margin-bottom: 0;
    padding: 25px 15px 45px 15px;
  }

  .bgLogo,
  .cardElct .ElcIcon .bg img,
  .innerBanner .linksBnr a img {
    width: 18px;
  }
  .bgLogo,
  .cardElct .ElcIcon .bg,
  .innerBanner .linksBnr a {
    width: 40px;
    height: 40px;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite {
    padding: 30px 30px 55px 30px;
  }
  .ElectronicSec .right-sec.with-shape.leftWithBgWhite::after {
    #{$start-direction}: 37%;
    top: -90px;
  }
  .white-btn a img {
    width: 18px;
    height: 18px;
  }
  .services-sec.clearClass {
    padding: 30px 0 0 0;
  }
  .researchSec .cardResearch {
    height: 200px;
  }
  .researchSec .title {
    margin-top: -20px;
    padding-bottom: 30px;
  }
  .newHome .cardNews .customPagi {
    bottom: 190px;
  }
  .newHome,
  .ourNumSec,
  .researchSec {
    margin-bottom: 35px;
  }
  .ourNumSec .numText .p20 {
    padding: 20px 0 35px;
  }
  .partnersCards {
    padding: 32px 0 16px 0;
  }


  .rate:not(:checked) > label{
    width: 23px;
    height: 25px;
    padding-right: 15px;
  }
  .rateContet .bgRate .rateRight .pRate {
    margin-left: 12px;
  }
  .mediaCenter .WSCard .img, .eventsPage .WSCard .img, .DigitalLibrary .WSCard .img, .newsPage .WSCard .img{
    height: 200px;
  }
  .eventsPage .txt {
    height: calc(100% - 225px);
  }
  .newsPage .WSCard .txt{
    height: calc(100% - 225px);
  }

  .ourNumSec .numText .p20{
    font-size: var(--text-md-medium-font-size);
  }
  .awareness-sec .right-sec p,
  .weAreSec .txt .p20{
    width: 100%;
    text-align: #{$start-direction};
  }
  .newHome .cardNews .newImg{
    height: 300px;
  }
  .newHome .cardNews .newImg img{
    height: 280px;
  }
}
