.Evaluation2  {
  padding: var(--spacing-notification-notification-toast-v-padding) var(--spacing-notification-notification-toast-desktop-h-padding) var(--spacing-notification-notification-toast-v-padding) var(--spacing-notification-notification-toast-desktop-h-padding);
  background-color: var(--themes-background-background-notification-white);
  border-radius: var(--radius-radius-md);
  box-shadow: var(--shadows-shadow-lg);
  gap: var(--spacing-notification-notification-gap);
  border-radius: var(--radius-md, 8px);
  background: var(--Background-background-notification-white, #fff);
  /* Shadows/shadow-lg */
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  min-height: 150px;
  position: relative;
  padding-bottom: 62px;
}
.sec_head_title {
  margin-top: 80px;
    font-family: var(--text-lg-regular-font-family);
    font-weight: var(--text-lg-regular-font-weight);
    color: #384250;
    font-size: var(--text-lg-regular-font-size);
    letter-spacing: var(--text-lg-regular-letter-spacing);
    line-height: var(--text-lg-regular-line-height);
    font-style: var(--text-lg-regular-font-style);
}
.Evaluation2 .alertEvaluation .right strong {
  font-weight: 600;
  color: var(--themes-text-text-display);
  font-size: 16px;
  margin: 0 12px;
}

.Evaluation2 .alertEvaluation .right .btnSmall {
  height: 32px;
  min-width: 44px;
  padding: var(--spacing-global-spacing-none) var(--spacing-button-buttons-md-padding) var(--spacing-global-spacing-none) var(--spacing-button-buttons-md-padding);
  border-color: var(--themes-border-border-neutral-primary);
  display: inline-flex;
  align-items: center;
  background: #fff;
  justify-content: center;
  gap: var(--spacing-button-buttons-md-gap);
  border-radius: var(--radius-radius-radius-sm);
  font-weight: 500;
  color: var(--themes-text-text-default);
  font-size: 14px;
  border: 1px solid transparent;
  position: absolute;
  top: 80px;
  right: 90px;
  border-color: var(--themes-border-border-neutral-primary);
} 

.Evaluation2 .alertEvaluation .right .btnGreen {
  border: 1px solid;
  background-color: var(--themes-button-button-background-primary-default);
  color: #ffffff;
  right: 25px;

}

.Evaluation2 .alertEvaluation .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
}
.Evaluation2 .alertEvaluation .left p .number,
.Evaluation2 .alertEvaluation .left p {
  color: var(--themes-link-link-neutral);
  font-size: var(--text-md-medium-font-size);
}

.Evaluation2 li,
.Evaluation2 #feedbackNo li,
.Evaluation2 #feedbackYes li {
  list-style: none;
  position: relative;
  margin-bottom: 5px;
}

.Evaluation2 .check-button-list-h label {
  position: relative;
  padding-right: 35px;
  font-family: var(--text-lg-regular-font-family);
  font-weight: var(--text-lg-regular-font-weight);
  color: #384250;
  font-size: var(--text-sm-regular-font-size);
  letter-spacing: var(--text-lg-regular-letter-spacing);
  line-height: var(--text-lg-regular-line-height);
  font-style: var(--text-lg-regular-font-style);
}

.Evaluation2 .check-button-list-h label::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 1px solid #d3d5d8;
}

.Evaluation2 .check-button-list-h label::after {
  content: "";
  position: absolute;
  display: none;
  right: 7px;
  top: 6px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Evaluation2 .check-button-list-h input {
  position: absolute;
  opacity: 0;
  width: 22px;
  height: 22px;
  right: 0;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.Evaluation2 .check-button-list-h input:checked ~ label:after {
  display: block;
}

.Evaluation2 .check-button-list-h input:checked ~ label:before {
  background-color: #1b8354;
  border: 1px solid #1b8354;
}
.Evaluation2 .feedback-comments-container .btn-danger,
.Evaluation2 .feedback-comments-container input[type="submit"].btn {
  min-width: 44px;
  border-color: var(--themes-border-border-neutral-primary);
  display: inline-flex;
  align-items: center;
  background: #fff;
  justify-content: center;
  gap: var(--spacing-button-buttons-md-gap);
  border-radius: var(--radius-radius-radius-sm);
  font-weight: 500;
  color: var(--themes-text-text-default);
  font-size: 14px;
  border: 1px solid transparent;
  border-color: var(--themes-border-border-neutral-primary);
  padding: 8px 10px;
  font-size: var( --text-xs-regular-font-size);
}

.Evaluation2 .feedback-comments-container input[type="submit"].btn {
  border: 1px solid;
  background-color: var(--themes-button-button-background-primary-default);
  color: #ffffff;
  right: 25px;
}

.Evaluation {
  background: #f3f3f3;
  // background-color: var(--themes-background-background-neutral-50);
  border-radius: var(--radius-radius-radius-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-notification-notification-gap);
  padding: 14px 24px;
  border-bottom: 2px solid rgba(22, 22, 22, 0.5);
}

.Evaluation .white-sec .col-lg-6:first-of-type {
  width: 70%;
}
.Evaluation .white-sec .col-lg-6:last-of-type {
  width:30%;
}
.Evaluation .white-sec {
  padding: 0
}
.Evaluation .right-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Evaluation .right-sec h5 {
  font-size: 1rem;
 
  color: #000000;
  margin-left: 20px;
  margin-bottom: 0;
}

.Evaluation .right-sec .ev-stars {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Evaluation .right-sec .ev-stars li {
  margin-left: 10px;
}

.Evaluation .right-sec .ev-stars li img {
  width: 20px;
  height: 20px;
}

.Evaluation .right-sec .ev-stars li:last-child {
  margin: 0;
}

.Evaluation .right-sec .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.Evaluation .left-sec .last-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.Evaluation .left-sec .last-edit img {
  width: 20px;
  height: 20px;
}

.Evaluation .left-sec .last-edit span {
  color: var(--themes-link-link-neutral);

  font-size: var(--text-md-medium-font-size);
  padding-right: 10px;

}

.Evaluation .evaluationBox {
  margin-bottom: 0;
  margin-left: 20px;
}
.Evaluation .evaluationBox:last-of-type {
  transform: translateY(-2px);
  order: -1;
}
.Evaluation .evaluationBox span,
.Evaluation .evaluationBox strong {
margin-left: 2px;
color: var(--themes-link-link-neutral);
font-size: var(--text-md-medium-font-size);

}
.Evaluation .evaluationBox strong.active {
  font-weight: 700;
  margin-left: 16px;
}


.Evaluation .rating-star {
  background-image: url("/Style Library/assets/images/shared/start.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: 4px;
  background-size: contain;
  display: inline-block;
}

.Evaluation .rating-star.active {
  background-image: url("/Style Library/assets/images/shared/startActive.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: 4px;
}

.Evaluation .rating-star::before {
  content: "";
  width: 24px;
  height: 24px;
}
.Evaluation2 .alertEvaluation .right {
  display: flex;
  align-items: center;
}
.Evaluation2 .alertEvaluation {
  display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
@media (max-width: 1400px) {
  .Evaluation2 .alertEvaluation .right strong {
    font-size: var(--text-md-medium-font-size);
    padding: 0 15px;
  }
  .Evaluation2 .alertEvaluation .right .btnGreen {
    margin-left: 10px;
  }
  .Evaluation2 .alertEvaluation .right .btnSmall {
    min-width: auto;
    font-size: var(--text-md-medium-font-size);
  }
  .Evaluation2 .alertEvaluation .right img {
    width: 35px;
    height: 35px;
  }
  .Evaluation2 .alertEvaluation .left p {
    font-size: 1rem;
  }
  .Evaluation2 .alertEvaluation .left p .number {
    min-width: 34px;
    min-height: 34px;
    margin-left: 5px;
    font-size: 0.875rem;
  }
  .Evaluation .evaluationBox {
    margin-left: 20px;
  }
  .Evaluation .evaluationBox strong {
    margin-left: 5px;
  }
  .Evaluation .right-sec .right {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .Evaluation .evaluationBox {
    margin-left: 20px;
    margin-bottom: 20px;
}
}
@media (max-width: 992px) {
  .Evaluation .left-sec .last-edit {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .Evaluation .white-sec {
    padding: 15px;
  }
  .Evaluation2 .alertEvaluation {
    flex-direction: column-reverse;
  }
  .Evaluation2 .alertEvaluation .left {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .Evaluation .white-sec .col-lg-6:last-of-type,
  .Evaluation .white-sec .col-lg-6:first-of-type {
    width: 100%;
  }
  .Evaluation .evaluationBox {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .Evaluation2 .alertEvaluation .left p {
    font-size: var(--text-sm-regular-font-size);
  }
  .Evaluation2 .alertEvaluation .right .btnSmall {
    top: 105px;
  }
  .Evaluation2 .alertEvaluation .right strong {
    font-size: var(--text-md-medium-font-size);
    margin: 0;
  } 
}
